*/.env
mysql/data
memo.txt
Makefile

Thumbs.db
.DS_Store
*.log

wp/wp-config.php
wp/.htaccess
wp/.htpasswd
wp/index.php
wp/license.txt
wp/readme.html
wp/wp-*.php
wp/xmlrpc.php
wp/wp-admin/*
wp/wp-content/*
wp/wp-content/themes/my-theme/css/.sass-cache/*
wp/wp-includes/*